.height-60{
    height: 60px;
}

.pink-color{
    background-color: #ec407a!important;
}

.btn-table{
    padding: 7px 14px !important;
}

.card {
    margin-bottom: 20px;
}

.error {
    color: red;
}

h2 { 
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
    font-size: 50px;
    min-width: 62em
}
